*{
    font-family: Arial, Helvetica, sans-serif;
}

.con{
    width: 95vw;
    margin-top: 10px;
    height: fit-content;
    display: flex;
    align-items: end;
    justify-content: end;
}
.con button{
    padding: 10px;
}
header h2,header p{
    text-align: center;
}
header p{
    margin: auto;
    padding: 10px;
    width: 92%;
}
.img{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img img{
    width: 450px;
    height: 400px;
    border-radius: 7px;
}
.txt h5{
    padding: 10px;
    margin: auto;
    width: 85%;
    text-align: center;
}
.txt p{
    margin: 0px 25px;
}
@media only screen and (max-width:480px) {
    .img img{
        width: 350px;
        height: 400px;
    }
    .txt h5{
        width: 90%;
        padding: 20px;
        text-align: center;
        margin: auto;
    }
}


/* ================================================= */
/* contact styling */

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  .container {
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="tel"],
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }
  
  form textarea {
    height: 150px;
  }
  
  form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form button[type="submit"]:hover {
    background-color: #3e8e41;
  }

  video{
	box-shadow: 0px 0px 25px black;
  }
